.mod_wow_raid_progress_mop li ul li {
    background-repeat: no-repeat !important;
    background-position: center right !important;
}

.mod_wow_raid_progress_mop li ul {
    display: none;
}

.mod_wow_raid_progress_mop h4 {
    cursor: pointer;
}

.mod_wow_raid_progress_mop li ul li.normal {
    background-image: url('./images/normal.png');
}

.mod_wow_raid_progress_mop li ul li.heroic {
    background-image: url('./images/heroic.png');
}